<?xml version="1.0" encoding="utf-8"?>
<!-- App manifest: declares permissions, application setup, and app screens. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Allows Retrofit/OkHttp to call the NIT3213 API. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Nit3213Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S8133896assignment2">

        <!-- Third required screen: shows all selected exercise data. -->
        <activity android:name=".DetailsActivity" />

        <!-- Second required screen: displays Fitness Dashboard entities. -->
        <activity android:name=".DashboardActivity" />

        <!-- First required screen and launcher Activity. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>